.apply-button-container {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}



.apply-button:hover {
  background-color: #ffd700;
  color: #00264d;
}


.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #004d99;
  color: white;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffd700;
  color: #00264d;
}


/* Additional CSS (for React App) */
.App {
text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}


.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
.hero h1 {
  font-family: 'Dancing Script', cursive;
}



